version: "3"
services:
  db:
    image: postgres:11-alpine
    environment:
      POSTGRES_PASSWORD: Enigma.1
      POSTGRES_USER: postgres
      POSTGRES_DB: workout
    ports:
      - "5433:5432"
    volumes:
    - db_data:/var/lib/postgresql/data
    
volumes:
  db_data:
    driver: local